NEXT_PUBLIC_API_BASE_URL=https://api.redeas.online
NEXT_PUBLIC_SUPABASE_URL=https://xfemzxgpzhhnymedeepy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_WfT7Cg5Qc13Ynthp2C7mSQ_PS4rVUqi
